@using PeakPals_Project.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model Climber
@inject UserManager<ApplicationUser> UserManager

@{
    string? aspnetId = Model.AspnetIdentityId;
    var user = await UserManager.FindByIdAsync(aspnetId);
    // Ensure that the user is not null before accessing properties
}

<body id="profile-body">
    <div class="profile-box justify-context-center flex-nowrap">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-3">
                    @if (@Model.ImageLink == null){
                        <img src="~/images/blank_profile.png" alt="Blank profile image" class="profile-image">
                    }
                    else{
                        <img src="@Model.ImageLink" onerror="this.onerror=null; this.src='/images/blank_profile.png';" class="profile-image"/>
                    }
                    <a button class="btn btn-warning my-5" id="edit-btn" asp-controller="Profile" asp-action="EditProfile">Edit Profile</a>
                    <p class="text-light" id="first-name-text">@Model.FirstName @Model.LastName</p>
                    <p class="text-light" id="location-text">@Model.City @Model.State</p>
                    @if (@Model.Age != null){
                        <p class="text-light">@Model.Age years old</p>
                    }
                    @if (@Model.CustomLink != null ){
                        <a href="@Model.CustomLink" class="link-text" target="_blank">@Model.LinkText</a>
                    }
                </div>
                
                <div class="col-9">
                    <hr class="bg-warning">
                    @if (user != null)
                    {
                        <h1 class="display-name text-warning">@user.UserName</h1>
                    }
                    <hr class="bg-warning">
                    <div class="row align-items-start">
                        @if (@Model.Bio == null)
                        {
                            <p class="bio text-light">No bio yet.</p>
                        }
                        else{
                            <p class="bio text-light">@Model.Bio </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css">
}
