@{
    ViewData["Title"] = "Report Page";
}

<body id="report-body">
    <div class="text-center" id="report-div">
        <h1 class="text-white display-text">See your Performance</h1>

        <button class="nav-buttons active-tab" id="history-button"><a class="nav-link active" id="history-tab" data-toggle="tab" href="#test-history">History</a></button>
        <button class="nav-buttons" id="analysis-button"><a class="nav-link" id="analysis-tab" data-toggle="tab" href="#test-analysis">Analysis</a></button>
        <button class="nav-buttons" id="recommendations-button"><a class="nav-link" id="recommendations-tab" data-toggle="tab" href="#test-recommendations">Recommendations</a></button>

        <div id="test-history">
            <div class="container">

                @{
                    var tests = new[]
                    {
                        new { Name = "Hang", id = "hang" },
                        new { Name = "Pull", id = "pull" },
                        new { Name = "Hammer Curl", id = "hammerCurl" },
                        new { Name = "Hip Flexibility", id = "hipFlexibility" },
                        new { Name = "Hamstring Flexibility", id = "hamstringFlexibility" },
                        new { Name = "Repeater", id = "repeater"},
                        new { Name = "Smallest Edge", id = "smallestEdge" },
                        new { Name = "Campus Board", id = "campusBoard" },
                    };
                }

                <div class="row">
                    @foreach (var test in tests)
                    {
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="history-card">
                                <h2 class="text-white text-center history-card-header">@test.Name</h2>

                                <a href="@Url.Action("Test", "Report", new { testName = test.id })" class="text-white btn btn-danger my-3" style="text-decoration: none;" id="test-expand-button">Expand</a>

                                <div class="container">
                                    <div class="row">
                                        <div class="col col-6">
                                            <div class="history-graph-div" id="@test.id-test-graph"></div>
                                        </div>
                                        <div class="col col-6">
                                            <div class="history-table-div" id="@test.id-test-table"></div>
                                        </div>
                                    </div>
                                </div>    
                                
                                <div class="history-results-div" id="@test.id-test-results"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div style="display: none;" id="test-analysis">

            <!-- filter button for filter modal -->
            <button class="filter-button" id="filter-button" data-toggle="modal" data-target="#filterModal">
                <i class="fas fa-filter"></i>
            </button>

            <!-- filter modal -->
            <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <!-- Filter Form -->
                            <form id="filter-form">
                                <div class="container">
                                    <div class="row justify-content-center modal-contents">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <!--minimum age-->
                                                <div class="container">
                                                    <div class="row modal-row">
                                                        <div class="col">
                                                            <h2 id="modal-header-text">Change Filter</h2>
                                                        </div>
                                                    </div>
                                                    <div class="row modal-row">
                                                        <div class="col-md-6 filter-form-block">
                                                            <div class="form-group form-cell">
                                                                <label for="minAge" class="modal-label-text">Minimum
                                                                    Age</label>
                                                                <input type="number" class="form-control" id="minAge"
                                                                    name="minAge" min="0" max="100" value="0">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 filter-form-block">
                                                            <div class="form-group form-cell">
                                                                <label for="maxAge" class="modal-label-text">Maximum
                                                                    Age</label>
                                                                <input type="number" class="form-control" id="maxAge"
                                                                    name="maxAge" min="0" max="100" value="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row modal-row">
                                                        <div class="col-md-6 filter-form-block">
                                                            <div class="form-group form-cell">
                                                                <label for="gender"
                                                                    class="modal-label-text">Gender</label>
                                                                <select class="form-control" id="gender" name="gender">
                                                                    <option value="Male">Male</option>
                                                                    <option value="Female">Female</option>
                                                                    <option value="Other">Other</option>
                                                                    <option selected value="All">All</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 filter-form-block">
                                                            <div class="form-group form-cell">
                                                                <label for="climbingExperience"
                                                                    class="modal-label-text">Climbing
                                                                    Experience</label>
                                                                <select class="form-control" id="climbingExperience"
                                                                    name="climbingExperience">
                                                                    <option value="Beginner">Beginner</option>
                                                                    <option value="Intermediate">Intermediate</option>
                                                                    <option value="Advanced">Advanced</option>
                                                                    <option selected value="All">All</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row modal-row">
                                                        <div class="col-md-6 filter-form-block">
                                                            <div class="form-group form-cell">
                                                                <label for="minimumClimbingGrade"
                                                                    class="modal-label-text">Minimum Climbing
                                                                    Grade</label>
                                                                <select class="form-control" id="minimumClimbingGrade"
                                                                    name="minimumClimbingGrade">
                                                                    <option selected value="0">V0</option>
                                                                    <option value="1">V1</option>
                                                                    <option value="2">V2</option>
                                                                    <option value="3">V3</option>
                                                                    <option value="4">V4</option>
                                                                    <option value="5">V5</option>
                                                                    <option value="6">V6</option>
                                                                    <option value="7">V7</option>
                                                                    <option value="8">V8</option>
                                                                    <option value="9">V9</option>
                                                                    <option value="10">V10</option>
                                                                    <option value="11">V11</option>
                                                                    <option value="12">V12</option>
                                                                    <option value="13">V13</option>
                                                                    <option value="14">V14</option>
                                                                    <option value="15">V15</option>
                                                                    <option value="16">V16</option>
                                                                    <option value="17">V17</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 filter-form-block">
                                                            <div class="form-group form-cell">
                                                                <label for="maximumClimbingGrade"
                                                                    class="modal-label-text">Maximum Climbing
                                                                    Grade</label>
                                                                <select class="form-control" id="maximumClimbingGrade"
                                                                    name="maximumClimbingGrade">
                                                                    <option value="0">V0</option>
                                                                    <option value="1">V1</option>
                                                                    <option value="2">V2</option>
                                                                    <option value="3">V3</option>
                                                                    <option value="4">V4</option>
                                                                    <option value="5">V5</option>
                                                                    <option value="6">V6</option>
                                                                    <option value="7">V7</option>
                                                                    <option value="8">V8</option>
                                                                    <option value="9">V9</option>
                                                                    <option value="10">V10</option>
                                                                    <option value="11">V11</option>
                                                                    <option value="12">V12</option>
                                                                    <option value="13">V13</option>
                                                                    <option value="14">V14</option>
                                                                    <option value="15">V15</option>
                                                                    <option value="16">V16</option>
                                                                    <option selected value="17">V17</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <button type="" id="filterButtonSubmit"
                                                class="btn btn-primary mt-3">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @foreach (var test in tests)
                {
                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="history-card">
                            <h2 class="text-white text-center history-card-header py-3">@test.Name</h2>
                            <div class="recent-test col-5" id="@test.id-test-recent">

                            </div>
                            <div class="average-test col-5" id="@test.id-test-average">

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="display: none;" id="test-recommendations">
            <div id="missing-info-div"></div>
            <div id="recommended-climbs-div"></div>
            <div id="refresh-button-div"></div>
            <div id="radar-chart-div"></div>
        </div>

        <template id="recommended-climb-template">
            <div class="recommended-climb">
                <div class="container">
                    <div class="row recommended-climb-header">
                        <div class="col-9">
                            <h2 class="text-white text-center recommended-climb-header-name"></h2>
                        </div>
                        <div class="col-3">
                            <h2 class="text-white text-center recommended-climb-header-grade"></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2 class="text-center recommended-climb-tag-div"></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2 class="text-center recommended-climb-description-div"></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="recommend-climb-button">Go to Climb</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>
</body>

@section Scripts {
    <script src="~/js/report.js"></script>
    <script src="~/js/recommendations.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/report.css">
}