@{
    ViewData["Title"] = "Report Page";
}

<body id="report-body">
    <div class="text-center" id="report-div">
        <h1 class="display-4 text-white welcome">See your performance</h1>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="testTabs">
            <li class="nav-item">
                <a class="nav-link active" id="history-tab" data-toggle="tab" href="#test-history">Test History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#test-analysis">Test Analysis</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="report-tab-content">
            <div class="tab-pane fade show active" id="test-history">
                <div class="container">

                    @{
                        var tests = new[]
                        {
                    new { Name = "Hang", id = "hang" },
                    new { Name = "Pull", id = "pull" },
                    new { Name = "Hammer Curl", id = "hammerCurl" },
                    new { Name = "Hip Flexibility", id = "hipFlexibility" },
                    new { Name = "Hamstring Flexibility", id = "hamstringFlexibility" },
                    new { Name = "Repeater", id = "repeater"},
                    new { Name = "Smallest Edge", id = "smallestEdge" },
                    new { Name = "Campus Board", id = "campusBoard" },
                    };
                    }

                    @foreach (var test in tests)
                    {
                        <div class="row pt-3" style="border-top: 1px solid black;">
                            <div class="col">
                                <h2>@test.Name Test Results</h2>
                                <div id="@test.id-test-results"></div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-6">
                                <div id="@test.id-test-table"></div>
                            </div>
                            <div class="col-6">
                                <div id="@test.id-test-graph"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="test-analysis">
                @foreach (var test in tests)
                {
                    <div id="@test.id-test-average-div">
                        <h2>@test.Name Test Average</h2>
                        <div id="@test.id-test-average"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/report.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/report.css">
}