@{
    ViewData["Title"] = "Record Page";
}

<body id="record-body">
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4 text-white" id="welcome-text">Record Your Tests</h1>
                </div>
            </div>
            <div class="bg-dark" id="record-box">
                <div class="row justify-content-center">
                <div class="col-6">
                    <div class="confirmation-popup" id="record-confirmation-popup" style="display: none;">
                        <p>Test Successfully Logged</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-white welcome-text mx-4">Track your performances below!</h1>
                    <h1 class="text-white welcome-text mx-4">Click the <strong>?</strong> button for help on each test.</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7 col-md-11">

                    @{
                        var tests = new[]
                        {
                            new { Id = "hang", Name = "20mm Hang Test (7 seconds)", ModalId = "hangTestHelperModal", HelpButtonId = "hangTestHelpButton", Placeholder = "Added Weight", unit = "lbs" },
                            new { Id = "pull", Name = "Pull Up Test (1 Rep Max)", ModalId = "pullTestHelperModal", HelpButtonId = "pullTestHelpButton", Placeholder = "Added Weight", unit = "lbs"},
                            new { Id = "hammerCurl", Name = "Hammer Curl Test (1 Rep Max)", ModalId = "hammerCurlTestHelperModal", HelpButtonId = "hammerCurlTestHelpButton", Placeholder = "Lifted Weight", unit = "lbs"},
                            new { Id = "hipFlexibility", Name = "Hip Flexibility Test", ModalId = "hipFlexibilityTestHelperModal", HelpButtonId = "hipFlexibilityTestHelpButton", Placeholder = "Distance", unit = "Inches"},
                            new { Id = "hamstringFlexibility", Name = "Hamstring Flexibility Test", ModalId = "hamstringFlexibilityTestHelperModal", HelpButtonId = "hamstringFlexibilityTestHelpButton", Placeholder = "Distance", unit = "Inches"},
                            new { Id = "repeater", Name = "Repeater Test", ModalId = "repeaterTestHelperModal", HelpButtonId = "repeaterTestHelpButton", Placeholder = "Time", unit = "Seconds"},
                            new { Id = "smallestEdge", Name = "Smallest Edge Test", ModalId = "smallestEdgeTestHelperModal", HelpButtonId = "smallestEdgeTestHelpButton", Placeholder = "Edge Size", unit = "mm"},
                            new { Id = "campusBoard", Name = "Campus Board Test", ModalId = "campusBoardTestHelperModal", HelpButtonId = "campusBoardTestHelpButton", Placeholder = "Furthest Pull", unit = "rungs"},

                            
                        };
                    }

                    @foreach (var test in tests)
                    {
                        <div class="accordion" id="test-accordion-@test.Id">
                            <div class="accordion-item" style="background-color: rgb(132, 146, 167);">
                                <h2 class="accordion-header d-flex justify-content-between">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@test.Id">
                                       <strong>@test.Name</strong>
                                    </button>
                                    <button type="button" class="btn btn-lg btn-warning btn-circle" data-bs-toggle="modal" data-bs-target="#@test.ModalId" id="@test.HelpButtonId">
                                        <span class="text-dark"><strong>?</strong></span>
                                    </button>
                                </h2>
                                <div id="collapse-@test.Id" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <form id="@($"{test.Id}-test-form")">
                                            <div class="input-group mb-3">
                                                @if (test.Id == "hipFlexibility")
                                                {
                                                    <input type="number" required id="@($"{test.Id}-test-input")" class="form-control" placeholder="@test.Placeholder" min="0">
                                                }
                                                else if (test.Id == "campusBoard")
                                                {
                                                    <select class="form-select" id="@($"{test.Id}-test-input")" required>
                                                        <option value="123">1-2-3</option>
                                                        <option value="135">1-3-5</option>
                                                        <option value="147">1-4-7</option>
                                                        <option value="159">1-5-9</option>
                                                    </select>
                                                    
                                                }
                                                else if (test.Id == "smallestEdge")
                                                {
                                                    <input type="number" required id="@($"{test.Id}-test-input")" class="form-control" placeholder="@test.Placeholder" min="1">
                                                }
                                                else if (test.Id == "repeater")
                                                {
                                                    <input type="number" required id="@($"{test.Id}-test-input")" class="form-control" placeholder="@test.Placeholder" min="0">
                                                }
                                                else 
                                                {
                                                    <input type="number" required id="@($"{test.Id}-test-input")" class="form-control" placeholder="@test.Placeholder">
                                                }
                                                
                                                <div class="input-group-append">
                                                    <span class="input-group-text">@test.unit</span>
                                                </div>
                                                @if (test.Id == "hang" || test.Id == "pull" || test.Id == "hammerCurl")
                                                {
                                                    <input type="number" required min="1" id="@($"{test.Id}-test-bodyweight-input")" class="form-control" placeholder="Body Weight">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">lbs</span>
                                                    </div>
                                                }
                                                
                                                <button class="btn btn-outline-secondary btn-warning record-btn" type="submit" id="@($"{test.Id}-test-submit-button")">Record</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row mt-5 pb-1">
                <div class="col">
                    <h1 class="text-white welcome-text"> See Your Testing History Report</h1>
                </div>
            </div>
            <div class="row mt-2 pb-5">
                <div class="col">
                    <a class="record-to-report-button" asp-area="" asp-controller="Report"
                        asp-action="Report">Report</a>
                </div>
            </div>
        </div>
        <div class="my-5"></div>
    </div>

    @{
    var exercises = new[]
    {
        new
        {
            Id = "hang",
            Title = "20mm Hang Test (7 Second Variant)",
            ModalId = "hangTestHelperModal",
            LabelId = "hangTestHelperModalLabel",
            ImageSource = "~/images/HangTestExample.png",
            Info = "This fitness exercise will be testing your finger and grip strength and is considered one of the defining tests for rock climbers. After all, finger strength may be one of the most important attributes of a climber.",
            Instructions = (
                "Begin by hanging at an intensity that is comfortable for 7 seconds in your preferred grip. " +
                "Proceed to slowly increase towards your maximum intensity hang whilst keeping proper form. " +
                "You may use a dipping belt or climbing harness to add additional weight to your body and attempt another 7 second hang. " +
                "It is recommended that you add between 1kg and 5kg or 2lbs and 5lbs depending on how the previous hang felt to you. " +
                "Heavier attempts will require upwards of 5 minutes of rest between attempts"),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from climbing or training",
                "You must understand how to use a fingerboard and be competent in its use.",
                "You must not be pregnant",
                "It is recommended you have climbed 4 or more routes at 6b+ OR have climbed 4 or more boulder problems at V4 in the last 12 months"
            },
            Warning = "This test is maximal and comes with risk to the user. Always start at a relatively low load, gradually increase the weight. If your form begins to fail, return back to standing flat on the ground and use a lower weight. Safety is always more important than potentially risking an injury!",
            LogResults = "Record the total additional weight you added or removed from your bodyweight. Example: If you added 10lbs to your bodyweight, record 10lbs. If you removed 5lbs from your bodyweight, record -5lbs."
        },
        new
        {
            Id = "pull",
            Title = "Pull Up Test (One Rep Max)",
            ModalId = "pullTestHelperModal",
            LabelId = "pullTestHelperModalLabel",
            ImageSource = "~/images/PullUpExample.png",
            Info = "This fitness exercise will be testing your maximum vertical pulling force.",
            Instructions = 
                ("Begin by lifting at an intensity that is comfortable. Proceed to slowly increase towards your maximum intensity pull-up whilst keeping proper form. " +
                "You may use a dipping belt or climbing harness to add additional weight to your body and attempt another rep. " +
                "It is recommended that you add between 1kg and 5kg or 2lbs and 5lbs depending on how the previous rep felt to you."),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from climbing or training",
                "You must understand how to use and be competent in the use of freeweights and have proper pull-up form.",
                "You must not be pregnant"
            },
            Warning = "This test is maximal and comes with risk to the user. Please always start at a relatively low load, gradually increase the weight. If your form fails, return back to standing flat on the ground and use a lower weight. Safety is always more important than potentially risking an injury!",
            LogResults = "Record the total additional weight you added or removed from your bodyweight. Example: If you added 10lbs to your bodyweight, record 10lbs. If you removed 5lbs from your bodyweight, record -5lbs."
        },
        new
        {
            Id = "hammerCurl",
            Title = "Hammer Curl Test (One Rep Max)",
            ModalId = "hammerCurlTestHelperModal",
            LabelId = "hammerCurlTestHelperModalLabel",
            ImageSource = "~/images/HammerCurlExample.jpeg",
            Info = "This fitness exercise will be testing your maximal load on the single arm hammer curl.",
            Instructions = 
                ("Begin by lifting at an intensity that is comfortable. Proceed to slowly increase towards your maximum intensity hammer curl whilst keeping proper form. " +
                "No swinging of the weights. " +
                "No leaning back. " +
                "You may use heavier dumbbells to attempt another rep. " +
                "It is recommended that you add between 1kg and 5kg or 2lbs and 5lbs depending on how the previous rep felt to you."),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from performing hammer curls or weight training.",
                "You must understand how to use and be competent in the use of dumbbells.",
                "You must not be pregnant"
            },
            Warning = "This test is maximal and comes with risk to the user. Always start with a relatively low load, gradually increase the weight, and prioritize proper form. If you experience any discomfort or compromise in form, decrease the weight immediately. Safety is paramount. Remember! Safety is always more important than potentially risking an injury!",
            LogResults = "Record the weight of the single dumbbell you used for the hammer curl. Example: If you used a 20lb dumbbell, record 20lbs. If you used a 25lb dumbbell, record 25lbs. (Note: If one arm is stronger than the other, record the weight successfully lifted by both arms separately. Ex. 20lbs on the left, 25lbs on the right. Results in a score of 20lbs.)"
        },
        
        new
        {
            Id = "hipFlexibility",
            Title = "Hip Flexibility Test",
            ModalId = "hipFlexibilityTestHelperModal",
            LabelId = "hipFlexibilityTestHelperModalLabel",
            ImageSource = "~/images/HipFlexibilityTestExample.jpg",
            Info = "This fitness exercise will be testing your hip flexibility.",
            Instructions = 
                ("It may be helpful to stand near a wall or structure for assistance lower and getting out of the stretch position. " +
                "Begin by standing up straight with legs straight, toes forwards. " +
                "Shuffle your feet to the widest you can manage without straining."),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from performing the hip flexibility test.",
                "You must not be pregnant"
            },
            Warning = "This test is maximal and comes with risk to the user. Stretching before testing is important! If you experience any discomfort or compromise in form, decrease the intensity. Safety is paramount. Remember! Safety is always more important than potentially risking an injury!",
            LogResults = "Record the distance between your heels in inches. Example: If your heels are 12 inches apart, record 12 inches."
        },
        new
        {
            Id = "hamstringFlexibility",
            Title = "Hamstring Flexibility Test",
            ModalId = "hamstringFlexibilityTestHelperModal",
            LabelId = "hamstringFlexibilityTestHelperModalLabel",
            ImageSource = "~/images/HamstringFlexibilityTestExample.png",
            Info = "This fitness exercise will be testing your hamstring flexibility.",
            Instructions = 
                ("This test is recommended to be performed with the assistance of a partner. " +
                "Begin by sitting on the floor with legs straight out in front of you, toes pointed upwards, with an upright torso. " +
                "Begin to reach forward towards your toes, keeping your legs straight. " +
                "Stretch as far as you can without straining. "),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from performing the hamstring flexibility test.",
                "You must not be pregnant"
            },
            Warning = "This test is maximal and comes with risk to the user. Stretching before testing is important! If you experience any discomfort or compromise in form, decrease the intensity. Safety is paramount. Remember! Safety is always more important than potentially risking an injury!",
            LogResults = "Record the distance between your fingers and toes in inches. Example: If your fingers are 2 inches away from touching your toes, record -2 inches. If your fingers are 5 inches past your toes, record 5 inches."
        },
        new
        {
            Id = "repeater",
            Title = "Repeater Test",
            ModalId = "repeaterTestHelperModal",
            LabelId = "repeaterTestHelperModalLabel",
            ImageSource = "~/images/RepeaterTestExample.jpg",
            Info = "This fitness exercise will be testing your finger endurance and recovery.",
            Instructions = 
                ("First you must determine your 20mm hang test (7 seconds). " +
                "This test will be at 60% of the total load from your 20mm hang test (7 seconds). " +
                "Ex. if you weigh 150lbs and scored +50lbs for a total of 200lbs, you would perform this test at 120lbs total load or -30lbs from bodyweight. " +
                "Begin hanging on the 20mm edge with both arms at your determined load. You will hang for 7 seconds on, rest 3 seconds, and repeat for as long as possible while keeping good form. "),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from climbing or training",
                "You must understand how to use a fingerboard and be competent in its use.",
                "You must not be pregnant",
                "It is recommended you have climbed 4 or more routes at 6b+ OR have climbed 4 or more boulder problems at V4 in the last 12 months"
            },
            Warning = "This test is maximal and comes with risk to the user. If your form begins to fail, return back to standing flat on the ground and end your test. Safety is always more important than potentially risking an injury!",
            LogResults = "Record the total time you were able to hang on the 20mm edge at your determined load. Example: If you were able to hang for 1 minute and 30 seconds, record 90 seconds. If you were able to hang for 2 minutes and 15 seconds, record 135 seconds."
        },
        new
        {
            Id = "smallestEdge",
            Title = "Smallest Edge Test",
            ModalId = "smallestEdgeTestHelperModal",
            LabelId = "smallestEdgeTestHelperModalLabel",
            ImageSource = "~/images/SmallestEdgeTestExample.png",
            Info = "This fitness exercise will be testing your finger strength on small edges",
            Instructions = 
                ("Begin by hanging on an edge size that is comfortable for 7 seconds with both hands. " +
                "Proceed to slowly decrease edge size towards your maximum intensity hang whilst keeping proper form. "),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from climbing or training",
                "You must understand how to use a fingerboard and be competent in its use.",
                "You must not be pregnant",
                "It is recommended you have climbed 4 or more routes at 6b+ OR have climbed 4 or more boulder problems at V4 in the last 12 months"
            },
            Warning = "This test is maximal and comes with risk to the user. Always start at a relatively low intensity, gradually decreasing the edge size. If your form begins to fail, return back to standing flat on the ground and end your test. Safety is always more important than potentially risking an injury!",
            LogResults = "Record the size of the smallest edge you were able to hang on for 7 seconds. Example: If you were able to hang on a 10mm edge, record 10mm. If you were able to hang on a 5mm edge, record 5mm"
        },
        new
        {
            Id = "campusBoard",
            Title = "Campus Board Test",
            ModalId = "campusBoardTestHelperModal",
            LabelId = "campusBoardTestHelperModalLabel",
            ImageSource = "~/images/CampusBoardTestExample.png",
            Info = "This fitness exercise will be testing your explosive pulling strength and coordination on a campus board.",
            Instructions = 
                ("This test assumes you are using a standard moon regulation angle, spacing, with medium rung size. " +
                "Begin by hanging on the first rung with both hands. " +
                "Proceed to pull up and attempt to grab the second rung with one arm. " +
                "Proceed to pull through and attempt to grab the third rung with the other arm. " +
                "Finish the attempt by matching the third rung with both hands. " +
                "It is recommended to attempt the 1-2-3 sequence first, then the 1-3-5, then the 1-4-7, and finally the 1-5-9. "),
            Requirements = new []
            {
                "You must be aged 18 or over",
                "You must have no pre-existing injuries or illnesses that prevent you from climbing or training",
                "You must understand how to use a fingerboard and be competent in its use.",
                "You must not be pregnant",
                "It is recommended you have climbed 4 or more routes at 6b+ OR have climbed 4 or more boulder problems at V4 in the last 12 months"
            },
            Warning = "This test is maximal and comes with risk to the user. Always start at a relatively low intensity, gradually increase the distance on each pull. If your form begins to fail, return back to standing flat on the ground and reevaluate. Safety is always more important than potentially risking an injury!",
            LogResults = "Select the furthest set of pulls you were able to complete. Example: If you were able to pull from the first rung to the second rung as well as the third and match, select 1-2-3. If you were able to pull from the first rung to the third rung as well as the fifth and match, select 1-3-5."
        }
    };
}
            </div>
            

@foreach (var exercise in exercises)
{
    <div class="modal fade" id="@exercise.ModalId" tabindex="-1" aria-labelledby="@exercise.LabelId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title px-3 py-2 text-center" id="@exercise.LabelId">@exercise.Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <p>@exercise.Info</p>
                    <h6>Requirements:</h6>
                    <ul>
                        @foreach (var requirement in exercise.Requirements)
                        {
                            <li>@requirement</li>
                        }
                    </ul>
                    <div class="bg-warning text-black" id="warning-box">
                        <h6>Warning:</h6>
                        <p>@exercise.Warning</p>
                    </div>
                    <p class="my-3">Before you start, ensure you are properly warmed up.</p>

                    <img src="@Url.Content(exercise.ImageSource)" alt="Exercise Example Image" class="mx-auto d-block" style="width: 25%" />


                    <p>@exercise.Instructions</p>

                    <hr>
                    <h6 class="my-2">Logging your Results:</h6>
                    <p style="margin-bottom: 2em;">@exercise.LogResults</p>
                </div>
            </div>
        </div>
    </div>
}

    </div>
</body>


@section Scripts
{
    <script src="~/js/record.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/record.css">
}