@using PeakPals_Project.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model OBClimb;

@{
    // Initialize jsonClimbAncestors as an empty string to ensure it has a value even if Model.Climb or Model.Climb.Ancestors is null
    var jsonClimbAncestors = "";
    if (Model.Climb != null && Model.Climb.Ancestors != null)
    {
        // Correctly serialize Model.Climb.Ancestors to a JSON string
        jsonClimbAncestors = System.Text.Json.JsonSerializer.Serialize(Model.Climb.Ancestors).ToString();
    }
    // user
    var user = await UserManager.GetUserAsync(User);
}

<script>
    window.climbPageAncestors = @Html.Raw(jsonClimbAncestors);
</script>


<body id="area-body">
    <div class="container">
        <div class="row">
            @if (Model.Climb?.Media?.Count > 0)
            {
                @for (int i = 0; i < 3; i++)
                {
                    @if (i < Model.Climb.Media.Count)
                    {
                        <div class="col col-4">
                            <div id="area-images" style="width: 100%; height: 340px; overflow: hidden; position: relative;"
                                data-bs-toggle="modal" data-bs-target="#imageModal">
                                <img src="@("https://media.openbeta.io" + Model.Climb.Media[i].MediaUrl)"
                                    style="position: absolute; top: -100px; width: 100%; height: calc(100% + 200px); object-fit: scale-down;">
                                @if (i == 2)
                                {
                                    <div class="bg-primary"
                                        style="position: absolute; bottom: 0; right: 0; display: inline-block; border-radius: 2px; cursor: pointer">
                                        <p class="text-white m-0 px-2 py-1" style="position: relative; top: 0%;">View More Images</p>
                                    </div>
                                }
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col col-4">
                            <div id="area-images" style="width: 100%; height: 340px; overflow: hidden; position: relative;">

                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="container border border-dark" id="locations-pages-box">
        <div class="row">
            <div class="col col-12">
                <b>
                    <h6 id="climbs-ancestor-links"></h6>
                </b>
            </div>
        </div>
        <hr>
        <div class="row my-2 p-2">
            <div class="col col-9">
                <h1 id="pages-title-name"><b>@Model?.Climb?.Name</b></h1>
            </div>
            @if (User != null && user != null && SignInManager.IsSignedIn(User))
            {
                <div class="col col-3 d-flex align-items-center">
                    <button class="btn btn-danger mr-0" id="log-attempt-button" data-bs-toggle="modal"
                        data-bs-target="#climbAttemptModal">Log Your Climbing Attempt</button>
                </div>
            }
        </div>
        <div class="row">
            <div class="col col-5">
                @if (Model?.Climb != null)
                    {
                        if (!string.IsNullOrWhiteSpace(Model.Climb.Fa))
                        {
                            <p style="font-weight: bold;" id="first-ascent">First Ascent: <span style="color:orange;">@Model.Climb.Fa</span></p>
                        }
                    }
                <div class="row my-2">
                    <div class="col col-2">
                        @if (Model?.Climb?.Grades?.Yds != null && string.IsNullOrWhiteSpace(Model.Climb.Grades.Yds) == false && !Model.Climb.Grades.Yds.Contains("V"))
                            {
                                <a href="https://www.sportrock.com/post/understanding-climbing-grades" target="_blank" id="grade-button">
                                    <button class="text-white" id="noHoverButton" title="Climbing Grade in Yds Scale -- Click to find out more!">@Model.Climb.Grades.Yds</button>
                                </a>
                            }
                        @if (Model?.Climb?.Grades?.Vscale != null && !string.IsNullOrWhiteSpace(Model.Climb.Grades.Vscale))
                        {
                            <a href="https://www.sportrock.com/post/understanding-climbing-grades" target="_blank" id="grade-button">
                                <button class="text-white" id="noHoverButton" title="Climbing Grade in V Scale -- Click to find out more!">@Model.Climb.Grades.Vscale</button>
                            </a>
                        }
                    </div>
                    @if (Model?.Climb?.Type?.Trad == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Trad -- Click to find out more!">Trad</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Sport == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Sport -- Click to find out more!">Sport</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Bouldering == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Indoor -- Click to find out more!">Indoor</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Deepwatersolo == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Deepwater -- Click to find out more!">Deepwater</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Alpine == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Alpine -- Click to find out more!">Alpine</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Snow == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Snow -- Click to find out more!">Snow</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Ice == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Ice -- Click to find out more!">Ice</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Mixed == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Mixed -- Click to find out more!">Mixed</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Aid == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Aid -- Click to find out more!">Aid</button>
                            </a>
                        </div>
                    }
                    @if (Model?.Climb?.Type?.Tr == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: TR -- Click to find out more!">TR</button>
                            </a>
                        </div>
                    }

                </div>


                @if (Model?.Climb?.Metadata?.Lat != null && Model?.Climb?.Metadata?.Lng != null)
                {
                    <p class="my-0 small">Latitude and Longitude:
                        <a href="https://www.google.com/maps/place/@Model.Climb.Metadata.Lat,@Model.Climb.Metadata.Lng">@Model.Climb.Metadata.Lat,
                            @Model.Climb.Metadata.Lng</a>
                    </p>
                }
                else
                {
                    <p class="my-0 small">Latitude and Longitude: Not available</p>
                }
                <!-- Map -->
                <div id="static-map" class="my-4"></div>
                <!---->
                <div>
                    <a href="#dynamic-map-climb" class="btn btn-primary my-0">See Detailed Map</a>
                </div>
            </div>
            <div class="col col-7" id="pages-description">
                <h5 style="font-weight: bold;" class="pages-category text-warning">Description:</h5>
                @if (@Model?.Climb?.Content != null)
                {
                    if (string.IsNullOrWhiteSpace(@Model.Climb.Content.Description))
                    {
                        <h4 class="my-4">No information available.</h4>
                    }
                    else
                    {
                        <h4 class="my-4 pages-description-text" id="climb-description">@Model.Climb.Content.Description</h4>
                    }
                    if (@Model.Climb.Content.Location == null)
                    {
                        // You might want to add some placeholder or message here if necessary
                    }
                    else
                    {
                        <h5 style="font-weight: bold;" class="pages-category text-warning">Location:</h5>
                        <h4 class="my-4 pages-description-text" id="climb-location">@Model.Climb.Content.Location</h4>
                    }
                    if (string.IsNullOrWhiteSpace(@Model.Climb.Content.Protection))
                    {
                        // You might want to add some placeholder or message here if necessary
                    }
                    else
                    {
                        <h5 style="font-weight: bold;" class="pages-category text-warning">Protection:</h5>
                        <h4 class="my-4 pages-description-text" id="climb-protection">@Model.Climb.Content.Protection</h4>
                    }
                    <div id="climb-tags-div"></div>
                }
            </div>
        </div>
    </div>

    <hr>

    <!-- Give dynamic data from Model to map js, but also give it the direct parent of this climb. -->
    <div id="dynamic-map-box" class="my-3">
    @if (Model?.Climb != null && Model.Climb.Ancestors?.Count > 0 && Model.Climb.Metadata != null)
    {
        <div id="dynamic-map-climb" class="dynamic-map-class"
            data-ancestors="@Model.Climb.Ancestors[Model.Climb.Ancestors.Count - 1]"
            data-latitude="@Model.Climb.Metadata?.Lat" data-longitude="@Model.Climb.Metadata?.Lng"
            data-name="@Model.Climb.Name" data-id="@Model.Climb.Uuid" data-mode="2d">
            <button class="btn btn-primary my-1" id="dimension-button" style="position: absolute; z-index: 1;">2D/3D Toggle</button>
        </div>
    }
    else
    {
        <p>Map information is not available.</p>
    }
    <p style="text-align: center; color: red;">Climb Locations are not Approximate</p>
</div>


</body>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header-pages sticky-top d-flex align-items-center">
                <h4 class="text-white text-center flex-grow-1 m-0 align-middle" style="font-weight: bold;">
                    @(Model?.Climb?.Name ?? "Unknown")'s Images</h4>
                <button type="button" class="btn-close btn-close-white ms-auto align-middle" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Model?.Climb?.Media != null)
                {
                    foreach (var image in Model.Climb.Media)
                    {
                        if (image != null && !string.IsNullOrEmpty(image.MediaUrl))
                        {
                            <img data-src="@("https://media.openbeta.io" + image.MediaUrl)"
                                style="height: 600px; width: 100%; object-fit: scale-down;" class="lazyload">
                        }
                    }
                }
                else
                {
                    <p>No images available.</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="climbAttemptModal" tabindex="-1" aria-labelledby="climbAttemptModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="max-height: 39vh;">
            <div class="modal-header-pages sticky-top d-flex align-items-center">
                <h4 class="text-white text-center flex-grow-1 m-0 align-middle" style="font-weight: bold;">Logging a
                    Climb Attempt</h4>
                <button type="button" class="btn-close btn-close-white ms-auto align-middle" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body py-4" style="overflow-y: auto; max-height: 60vh;">
                <form id="climb-attempt-form">
                    <div class="form-group row align-items-center mb-3">
                        <label for="attempts" class="col-sm-2 col-form-label">Attempts</label>
                        <div class="col-sm-10">
                            <input type="number" required id="attempts" min="0" placeholder="1-100" max="100"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-3">
                        <label for="rating" class="col-sm-2 col-form-label">Rating</label>
                        <div class="col-sm-10">
                            <input type="number" placeholder="1-5 stars" required id="rating" min="1" max="5"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-3">
                        <label for="suggested-grade" class="col-sm-2 col-form-label">Suggested Grade</label>
                        <div class="col-sm-10">
                            <input type="text" id="suggested-grade" maxlength="8" placeholder="ex. V0 / 5.9"
                                class="form-control">
                        </div>
                    </div>

                    <div id="climb-tag-div"></div>
                    <button type="button" id="addTagButton" class="btn btn-primary">
                        Add Tags
                    </button>
                    <div id="climb-id" data-id="@(Model?.Climb?.Uuid ?? "default-uuid")" data-name="@(Model?.Climb?.Name ?? "Unknown Climb")"></div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit" id="submit-button" data-bs-dismiss="modal"
                            data-bs-toggle="#climbAttemptModal">Record Log</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="confirmation-popup" style="display: none; position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
    <div style="background-color: blue; color: white; padding: 15px 20px; border-radius: 4px;">
        <span>Your climbing attempt has been logged successfully!</span>
    </div>
</div>

@section Scripts
{
    <script type="module" src="~/js/site.js"></script>
    @if (Model?.Climb?.Metadata != null)
    {
    <script>
        // static map //
        const staticMap = new maplibregl.Map({
            container: 'static-map', // container id
            style: 'https://api.maptiler.com/maps/streets/style.json?key=UOg2RBrpGopXMv4mVlUW', // style URL
            center: [@Model.Climb.Metadata.Lng, @Model.Climb.Metadata.Lat], // starting position [lng, lat]
            zoom: 7, // starting zoom
        });
        staticMap.dragRotate.disable();

        const staticMapMarker = new maplibregl.Marker()
            .setLngLat([@Model.Climb.Metadata.Lng, @Model.Climb.Metadata.Lat])
            .addTo(staticMap);
    </script>
    }
    <script>
        window.onload = function () {
            // Check if the formSubmitted flag is set in localStorage
            if (localStorage.getItem('formSubmitted') === 'true') {

                const popup = document.getElementById('confirmation-popup');
                popup.style.display = 'flex';
                setTimeout(function () {
                    popup.style.display = "none";
                }, 5000);

                // Clear the flag
                localStorage.removeItem('formSubmitted');
            }
        };
    </script>
    <script type="module" src="~/js/populateClimbWithTags.js"></script>
    <script type="module" src="~/js/climbsTags.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/locations.css">
    <link rel="stylesheet" href="~/css/site.css">
}