@model OBClimb;

@{
    var jsonClimbAncestors = Json.Serialize(Model.Climb.Ancestors);
}

<script>
    // var climbPageAncestors = @Html.Raw(jsonClimbAncestors);
    window.climbPageAncestors = @Html.Raw(jsonClimbAncestors);
</script>


<body id="area-body">
    <hr>
    <div class="container border border-dark" id="locations-pages-box">
        <div class="row">
            <div class="col col-12">
                <b>
                    <h6 id="climbs-ancestor-links"></h6>
                </b>
            </div>
        </div>
        <hr>
        <div class="row my-5 p-2">
            <div>
                <h1 id="pages-title-name"><b>@Model.Climb.Name</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-5">
                <p class="my-0">Latitude and Longitude:</p>
                <a href="https://www.google.com/maps/place/@Model.Climb.Metadata.Lat,@Model.Climb.Metadata.Lng">@Model.Climb.Metadata.Lat,
                    @Model.Climb.Metadata.Lng</a>
                <!-- Map -->
                <div id="static-map" class="my-4"></div>
                <!---->
                <div>
                    <a href="#dynamic-map-climb" class="btn btn-primary my-0">See Detailed Map</a>
                </div>
            </div>
            <div class="col col-7"  id="pages-description">
                <h5>Description:</h5>
                @if (@Model.Climb.Content == null || string.IsNullOrWhiteSpace(@Model.Climb.Content.Description))
                {
                    <h4 class="my-5">No information available.</h4>
                }
                else
                {
                    <h4 class="my-5" id="pages-description-text">@Model.Climb.Content.Description</h4>
                }

            </div>
        </div>

    </div>

    <hr>
    
    <!-- Give dynamic data from Model to map js, but also give it the direct parent of this climb. -->
    <div id="dynamic-map-box" class="my-3">
        <div id="dynamic-map-climb" data-ancestors="@Model.Climb.Ancestors[@Model.Climb.Ancestors.Count - 1]" data-latitude="@Model.Climb.Metadata.Lat" data-longitude="@Model.Climb.Metadata.Lng" data-name="@Model.Climb.Name" data-id="@Model.Climb.Uuid" data-mode="2d">
            <button class="btn btn-primary my-1" id="dimension-button" style="position: absolute; z-index: 1;">2D/3D Toggle</button>
        </div>
        <p style="text-align: center; color: red;"> Climb Locations are not Approximate</p>
    </div>


</body>

@section Scripts
{
    <script type="module" src="~/js/site.js"></script>
    <script>
      // static map //
        const staticMap = new maplibregl.Map({
            container: 'static-map', // container id
            style: 'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL', // style URL
            center: [@Model.Climb.Metadata.Lng, @Model.Climb.Metadata.Lat], // starting position [lng, lat]
            zoom: 7, // starting zoom
        });
        staticMap.dragRotate.disable();

        const staticMapMarker = new maplibregl.Marker()
            .setLngLat([@Model.Climb.Metadata.Lng, @Model.Climb.Metadata.Lat])
            .addTo(staticMap);
        
        //////////////
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/locations.css">
    <link rel="stylesheet" href="~/css/site.css">
}