@model OBClimb;

@{
    var jsonClimbAncestors = Json.Serialize(Model.Climb.Ancestors);
}

<script>
    // var climbPageAncestors = @Html.Raw(jsonClimbAncestors);
    window.climbPageAncestors = @Html.Raw(jsonClimbAncestors);
</script>


<body id="area-body">
    <div class="container">
        <div class="row">
            @if (Model.Climb?.Media?.Count > 0) {
                @for(int i = 0; i < 3; i++) {
                    @if (i < Model.Climb.Media.Count) {
                        <div class="col col-4">
                            <div id="area-images" style="width: 100%; height: 340px; overflow: hidden; position: relative;" data-bs-toggle="modal" data-bs-target="#imageModal">
                                <img src="@("https://media.openbeta.io" + Model.Climb.Media[i].MediaUrl)" style="position: absolute; top: -100px; width: 100%; height: calc(100% + 200px); object-fit: scale-down;">
                                @if (i == 2) {
                                    <div class="bg-primary" style="position: absolute; bottom: 0; right: 0; display: inline-block; border-radius: 2px; cursor: pointer">
                                        <p class="text-white m-0 px-2 py-1" style="position: relative; top: 0%;">View More Images</p> 
                                    </div>
                                }   
                            </div>
                        </div>
                        
                    }
                    else {
                        <div class="col col-4">
                            <div id="area-images" style="width: 100%; height: 340px; overflow: hidden; position: relative;">
                                
                            </div>   
                        </div>   
                    }
                }
            }
        </div>
    </div>
    <div class="container border border-dark" id="locations-pages-box">
        <div class="row">
            <div class="col col-12">
                <b>
                    <h6 id="climbs-ancestor-links"></h6>
                </b>
            </div>
        </div>
        <hr>
        <div class="row my-5 p-2">
            <div>
                <h1 id="pages-title-name"><b>@Model.Climb.Name</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-5">
                @if (@Model.Climb.Fa != null && string.IsNullOrWhiteSpace(@Model.Climb.Fa) == false)
                {
                    <p style="font-weight: bold;" id="first-ascent">First Ascent: <span
                            style="color:orange;">@Model.Climb.Fa</span> </p>
                }
                <div class="row my-2">
                    <div class="col col-2">
                        @if (Model.Climb.Grades.Yds != null && string.IsNullOrWhiteSpace(Model.Climb.Grades.Yds) ==
                        false)
                        {
                            <a href="https://www.sportrock.com/post/understanding-climbing-grades" target="_blank"
                                id="grade-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Climbing Grade in Yds Scale -- Click to find out more!">@Model.Climb.Grades.Yds</button>
                            </a>
                        }
                        @if (Model.Climb.Grades.Vscale != null && string.IsNullOrWhiteSpace(Model.Climb.Grades.Vscale))
                        {
                            <a href="https://www.sportrock.com/post/understanding-climbing-grades" target="_blank"
                                id="grade-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Climbing Grade in Yds Scale -- Click to find out more!">@Model.Climb.Grades.Vscale</button>
                            </a>
                        }
                    </div>
                    @if (Model.Climb.Type.Trad != null && Model.Climb.Type.Trad == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Trad -- Click to find out more!">Trad</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Sport != null && Model.Climb.Type.Sport == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Sport -- Click to find out more!">Sport</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Bouldering != null && Model.Climb.Type.Bouldering == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Indoor -- Click to find out more!">Indoor</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Deepwatersolo != null && Model.Climb.Type.Deepwatersolo == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Deepwater -- Click to find out more!">Deepwater</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Alpine != null && Model.Climb.Type.Alpine == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Alpine -- Click to find out more!">Alpine</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Snow != null && Model.Climb.Type.Snow == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Snow -- Click to find out more!">Snow</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Ice != null && Model.Climb.Type.Ice == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Ice -- Click to find out more!">Ice</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Mixed != null && Model.Climb.Type.Mixed == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Mixed -- Click to find out more!">Mixed</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Aid != null && Model.Climb.Type.Aid == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: Aid -- Click to find out more!">Aid</button>
                            </a>
                        </div>
                    }
                    @if (Model.Climb.Type.Tr != null && Model.Climb.Type.Tr == true)
                    {
                        <div class="col col-2">
                            <a href="https://www.nicas.co.uk/types-of-climbing/" target="_blank" id="type-button">
                                <button class="text-white" id="noHoverButton"
                                    title="Discipline: TR -- Click to find out more!">TR</button>
                            </a>
                        </div>
                    }

                </div>


                <p class="my-0 small">Latitude and Longitude:
                    <a href="https://www.google.com/maps/place/@Model.Climb.Metadata.Lat,@Model.Climb.Metadata.Lng">@Model.Climb.Metadata.Lat,
                        @Model.Climb.Metadata.Lng</a>
                </p>
                <!-- Map -->
                <div id="static-map" class="my-4"></div>
                <!---->
                <div>
                    <a href="#dynamic-map-climb" class="btn btn-primary my-0">See Detailed Map</a>
                </div>
            </div>
            <div class="col col-7" id="pages-description">
                <h5 style="font-weight: bold;" class="pages-category text-warning">Description:</h5>
                @if (@Model.Climb.Content != null)
                {
                    @if (string.IsNullOrWhiteSpace(@Model.Climb.Content.Description))
                    {
                        <h4 class="my-4">No information available.</h4>
                    }
                    else
                    {
                        <h4 class="my-4 pages-description-text" id="climb-description">@Model.Climb.Content.Description</h4>
                    }
                    @if (@Model.Climb.Content.Location == null) { }
                    else
                    {
                        <h5 style="font-weight: bold;" class="pages-category text-warning">Location:</h5>
                        <h4 class="my-4 pages-description-text" id="climb-location">@Model.Climb.Content.Location</h4>
                    }
                    @if (string.IsNullOrWhiteSpace(@Model.Climb.Content.Protection)) { }
                    else
                    {
                        <h5 style="font-weight: bold;" class="pages-category text-warning">Protection:</h5>
                        <h4 class="my-4 pages-description-text" id="climb-protection">@Model.Climb.Content.Protection</h4>
                    }
                }
            </div>
        </div>
    </div>

    <hr>

    <!-- Give dynamic data from Model to map js, but also give it the direct parent of this climb. -->
    <div id="dynamic-map-box" class="my-3">
        <div id="dynamic-map-climb" data-ancestors="@Model.Climb.Ancestors[@Model.Climb.Ancestors.Count - 1]"
            data-latitude="@Model.Climb.Metadata.Lat" data-longitude="@Model.Climb.Metadata.Lng"
            data-name="@Model.Climb.Name" data-id="@Model.Climb.Uuid" data-mode="2d">
            <button class="btn btn-primary my-1" id="dimension-button" style="position: absolute; z-index: 1;">2D/3D
                Toggle</button>
        </div>
        <p style="text-align: center; color: red;"> Climb Locations are not Approximate</p>
    </div>


</body>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header-pages sticky-top d-flex align-items-center">
                    <h4 class="text-white text-center flex-grow-1 m-0 align-middle" style="font-weight: bold;">@Model.Climb.Name's Images</h4>
                    <button type="button" class="btn-close btn-close-white ms-auto align-middle" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    @foreach (var image in Model.Climb.Media)
                    {
                        <img data-src="@("https://media.openbeta.io" + image.MediaUrl)" style="height: 600px; width: 100%; object-fit: scale-down;" class="lazyload">
                    }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="module" src="~/js/site.js"></script>
    <script>
        // static map //
        const staticMap = new maplibregl.Map({
            container: 'static-map', // container id
            style: 'https://api.maptiler.com/maps/streets/style.json?key=UOg2RBrpGopXMv4mVlUW', // style URL
            center: [@Model.Climb.Metadata.Lng, @Model.Climb.Metadata.Lat], // starting position [lng, lat]
            zoom: 7, // starting zoom
        });
        staticMap.dragRotate.disable();

        const staticMapMarker = new maplibregl.Marker()
            .setLngLat([@Model.Climb.Metadata.Lng, @Model.Climb.Metadata.Lat])
            .addTo(staticMap);

        //////////////
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/locations.css">
    <link rel="stylesheet" href="~/css/site.css">
}